* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
}

.signin__block {
  width: 20%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.signin__form {
  width: 100%;
}

.email, 
.password {
  width: 100%;
  margin: 5px auto;
}

.signIn__btn {
  width: 100%;
  color: white;
  background-color: firebrick;
  border: none;
}

.not__registered {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}

.signUp {
  margin: 16px 2px;
}