* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
}

.signin__block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.signIn__form {
  width: 20%;
}

.email,
.password {
  width: 100%;
  margin: 5px auto;
  border-radius: 3px;
  border: 1px solid darkgray;
}

.signIn__btn {
  width: 100%;
  color: white;
  background-color: firebrick;
  border: none;
  border-radius: 3px;
}

.not__registered {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}

.signUp_link {
  margin: 16px 2px;
}

.error {
  text-align: center;
  color: red;
  width: 100%;
}
