.popup-error {
  text-align: center;
  position: fixed;
  bottom: 3%;
  right: 3%;
  width: 500px;
  height: 20px;
  border-radius: 5px;
  background-color: red;
  color: white
}

.popup-success {
  text-align: center;
  position: fixed;
  bottom: 3%;
  right: 3%;
  width: 500px;
  height: 20px;
  border-radius: 5px;
  background-color: green;
  color: white
}

.popup-info {
  text-align: center;
  position: fixed;
  bottom: 3%;
  right: 3%;
  width: 500px;
  height: 20px;
  border-radius: 5px;
  background-color: darkslategray;
  color: white
}